Banking/.vs/Banking/FileContentIndex
Banking/.vs
Banking/Banking/.vs
Banking/Banking/bin
Banking/Banking/obj
Banking/BankingUnitTest/.vs
Banking/BankingUnitTest/BankingUnitTest.csproj.user
Banking/packages
Banking/BankingUnitTest/bin
Banking/BankingUnitTest/obj
